<div class="login-wrapper">
     <h2>SGP App</h2>
     <a class="btn-large btn btn-success" ng-click="login()">Entrar</a>
</div><!-- /login-wrapper -->


<!--

window.Auth0.signIn({
    onestep: true,
    title: "Contoso",
    signInButtonText: "Ingresar",
    emailPlaceholder: "Correo",
    passwordPlaceholder: "Contraseña",
    separatorText: "o",
    showIcon: true,
    icon: "https://myapp.com/logo.png",
    showSignup: true,
    signupText: "Registrarme!",
    signupLink: "https://myapp.com/signup",
    showForgot: true,
    forgotText: "Olvidé mi contraseña",
    forgotLink: "https://myapp.com/forgot"
});

-->