<aside class="fixed skin-6">	
			<div class="sidebar-inner scrollable-sidebar">
				<div class="size-toggle">
					<a class="btn btn-sm" id="sizeToggle">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="btn btn-sm pull-right logoutConfirm_open"  href="" ng-click="logout()">
						<i class="fa fa-power-off"></i>
					</a>
				</div><!-- /size-toggle -->	

				<div class="main-menu">
					<ul>
						<li>
							<a href="#/userclasses">
								<span class="menu-icon">
									<i class="fa fa-group fa-lg"></i>
								</span>
								<span class="text">
									Turmas
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
                        <li>
							<a href="#/userexams">
								<span class="menu-icon">
									<i class="fa fa-pencil fa-lg"></i>
								</span>
								<span class="text">
									Avaliações
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
                        <li>
							<a href="index.html">
								<span class="menu-icon">
									<i class="fa fa-bar-chart-o fa-lg"></i>
								</span>
								<span class="text">
									Resultados
								</span>
								<span class="menu-hover"></span>
							</a>
						</li>
					</ul>
				</div><!-- /main-menu -->
			</div><!-- /sidebar-inner -->
</aside>